# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
  # Triggers the workflow on push or pull request events but only for the "main" branch
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level or pipeline name'
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Checking files
        run: |
          ls ${{ github.workspace }}
      - name: Set up environment variables
        run: |
          echo "Setting up environment variables"
          echo "GH_TOKEN=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" >> $GITHUB_ENV
      - name: Checkout Another Repository
        env:
          GITHUB_TOKEN: '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'
        run: |
          cd test
          git clone https://github.com/sairavul/fristrepo.git
          ls ${{ github.workspace }}/test
          ls ${{ github.workspace }}/test/fristrepo/
          $filePath = "$($env:GITHUB_WORKSPACE)\test\fristrepo\workflow.yaml"
          (Get-Content -Path $filePath) | ForEach-Object {
              $_ -replace 'bolerplatename', $env:INPUT_LOGLEVEL
          } | Set-Content -Path $filePath -Encoding UTF8
          mv fristrepo\workflow.yaml ${{ github.workspace }}/.github/workflows/
          git rm --cached test/fristrepo
          cd ${{ github.workspace }}
          git add .
          git commit -m "workflow created" --no-verify
          git remote -v 
          git push origin
          cd ${{ github.workspace }}/.github/workflows/
          gh auth login
          gh workflow run workflow.yaml

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
